img{max-width: 13% ; height: auto; display:block; position:absolute ;top:10px;right: 10px;}

.head{color:brown}


p#personal{border-style: solid; margin-right: 50em;}
p#academic{border-style: solid;margin-right: 50em;}
body{background-color:lightgrey;}
a:hover{color: black}
a{color:grey}



